@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>


<h1>Hola, Alejandro!</h1>

Bienvenido a tu proyecto.

<SurveyPrompt Title="How is Blazor working for you?" />
